<div class="p-10 text-sm">
  <form [formGroup]="form" (submit)="addTask()">
    <div class="mb-6">
      <label for="task-name" class="block mb-2 font-medium text-gray-900">Task Name</label>
      <input id="task-name" type="text" formControlName="taskName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg outline-0 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    </div>
    <div class="mb-6">
      <label for="task-desc" class="block mb-2 font-medium text-gray-900">Task Description: </label>
      <textarea id="task-desc"
                formControlName="taskDescription"
                rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 outline-0 focus:ring-blue-500 focus:border-blue-500"></textarea>
    </div>
    <div class="mb-6">
      <label for="task-priority" class="block mb-2 font-medium text-gray-900">Task Priority: </label>
      <select id="task-priority"
              formControlName="taskPriority"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg outline-0 focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        <option value="not set" selected></option>
        <option value="important">Important</option>
        <option value="not important">Not Important</option>
      </select>
    </div>
    <div>
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add</button>
    </div>
  </form>

</div>
