<app-header></app-header>
<!--<nav>-->
<!--  menu-->
<!--</nav>-->
<main class="p-4">
  <div class="flex flex-col">
    <button class="bg-amber-200 rounded-full p-2" (click)="toggleAdd()">Add task</button>
    <app-add-task *ngIf="wantToAdd" (addedTask)="addTaskToList($event)" ></app-add-task>
  </div>
  <div class="p-4">
    <div class="flex items-center">
      <div class="flex-grow h-px bg-black"></div>
      <h3 class="text-center text-2xl px-4">Task list</h3>
      <div class="flex-grow h-px bg-black"></div>
    </div>
    <ul *ngIf="taskList.length; else emptyTask">
      <li *ngFor="let task of taskList; let i = index">
        <div class="p-4 my-4 rounded bg-amber-200 relative">
          <div class="absolute top-4 right-2.5 h-4 w-4 cursor-pointer hover:scale-110" (click)="removeTask(i)">
            <img ngSrc="assets/image/icon/bin.png" alt="bin" fill>
          </div>
          <h4 class="text-xl font-bold mb-2">{{task.name}}</h4>
          <p>{{task.description}}</p>
          <p>{{task.priority}}</p>
        </div>
      </li>
    </ul>
    <ng-template #emptyTask>
      <div class="text-center text-xl text-zinc-500 py-40">You are free now!</div>
    </ng-template>
  </div>
</main>
